<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body> 

<table>  
 <tr>    
<td><h4>Email ID: </h4></td>    
<td><h4 th:text="${customer.customerId}"></h4></td>    
</tr>    
   
<tr>    
<td><h4>User Name: </h4></td>    
<td><h4 th:text="${customer.customerName}"></h4></td>    
</tr>    
<tr>    
<td><h4>Email ID: </h4></td>    
<td><h4 th:text="${customer.customerRef}"></h4></td>    
</tr>

<tr>    
<td><h4>Email ID: </h4></td>    
<td><h4 th:text="${customer.customerEmail}"></h4></td>    
</tr>    

    
</table> 

</body>
</html>