<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
               <form action="customerSave" method="post">
                      <table>
                      
                          <tr>
                           <td><label for="customerId">Customer ID</label></td>
                            <td><input type="text" name="customerId"/></td>
                         </tr>
                         
                        <tr>
                           <td><label for="customerName">Customer Name</label></td>
                            <td><input type="text" name="customerName"/></td>
                         </tr>
                         
                          <tr>
                           <td><label for="customerRef">Customer Ref</label></td>
                            <td><input type="text" name="customerName"/></td>
                         </tr>
                         
                          <tr>
                           <td><label for="customerEmail">Customer Email</label></td>
                            <td><input type="text" name="customerEmail"/></td>
                         </tr>
                      </table>
               </form>
</body>
</html>